version: '3.8'

services:
  api:
    build: .
    image: alistar_be
    restart: "always"
    ports:
      - 3000:3000
    depends_on:
      - postgresql

  postgresql:
    image: postgres
    restart: "always"
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgresdb:/var/lib/postgresql/data/

volumes:
  postgresdb: